@{
    ViewData["Title"] = "CBS Students";
}

<div class="text-center">
    <h1 class="display-4">CBS Students</h1>
        <p>Devolping a web app for CBS students. It's intended to work as Facebook, but only for CBS students.</p>
        <br>
        <p>Click to see <a href="https://www.cbs.dk/">CBS</a> own homepage.</p>
       
    
    <!-- <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> -->
</div>
